<section id="person-page" class="wrapper">
	<section id="user-info">
		<h3 class="first-title">用户信息</h3>
		<section class="user-logo">
			<img class="img" alt="用户头像" src="./images/user-logo.png">
			<span class="name"><%= user.name %></span>
			<a href="/logout" class="logout">退出登录</a>
		</section>
		<ul class="info-list">
			<%
			function transition( eng ) {
				switch(eng) {
					case 'name':
						return '姓名';	
					break;
					case 'password':
						return '密码';	
					break;
					case 'email':
						return '邮箱';	
					break;
					case 'date':
						return '注册时间';	
					break;
					case 'power':
						return '权限';
					break;
					default:
					break;
				}
			}	
			%>	
			<% 
			function print( o ) {
				var html = '';
				for ( var prop in o ) {
					if ( o.hasOwnProperty(prop) ) {
						if ( Object.prototype.toString.call(o[prop]) === '[object Object]') {
							html += print(o[prop]);

						} else if ( Object.prototype.toString.call(o[prop]) === '[object Array]') {
							html += '<li class="item-array item '+prop+'"><ul class="children">';
							for ( var i=0; i<o[prop].length; i++ ) {
								html += print(o[prop]);
							}
							html += '</ul></li>';
						} else {
							html += '<li class="item item-'+prop+'"><span class="key">'+transition(prop)+'</span><div class="value-wrap"><p class="value">' + o[prop] + '</p><a class="update" href="#update-user-info">修改</a></div></li>';
						}
					}
				}
				return html;
			} 
			%>
			<li class="item item-email">
				<span class="key"><span class="icon-mail-3"></span>邮箱</span>
				<div class="value-wrap">
					<p class="value"><%= user.email %></p>
				</div>
			</li>
			<li class="item item-password">
				<span class="key"><span class="icon-key-2"></span>密码</span>
				<div class="value-wrap">
					<p class="value">(不可见，可修改)</p>
					<a class="update" href="#update-user-info">修改</a>
				</div>
			</li>
			<li class="item item-date">
				<span class="key"><span class="icon-calendar"></span>注册时间</span>
				<div class="value-wrap">
					<p class="value"><%= user.date %></p>
				</div>
			</li>
			<li class="item item-power">
				<span class="key"><span class="icon-power-cord"></span>权限</span>
				<div class="value-wrap">
					<p class="value"><%= user.power %></p>
				</div>
			</li>
		</ul>
	</section>
	<section id="meeting-info">
		<h3 class="first-title">会议信息</h3>
		<div id="add-meeting">
			<p class="input-wrap">
				<input id="add-meeting-input" type="text" placeholder="请输入会议姓名">
				<span class="btn-cancel icon-cancel-circle"></span>
			</p>
			<a class="btn-add" href="#add-mt" data-email="<%= user.email %>">申请新会议</a>
		</div>
		<% 
			var meetingUser = [];
			var meetingLeader = [];
			if ( user.meetings ) {

				for ( var i=0; i<user.meetings.length; i++ ) { 
					if ( user.meetings[i].role == 'users' ) {
						meetingUser.push( user.meetings[i] );
					} else {
						meetingLeader.push( user.meetings[i] );
					}
				}
			}
		%>
		<section class="meeting-list meeting-leader">
			<h4 class="title"><span class="icon-evil"></span>作为申请者</h4>
			<ul class="list">

			<%	var lenLeader = meetingLeader.length;
				if ( lenLeader > 0 ) {

					for ( var i=lenLeader; i--; ) { %>
						<li class="item" data-id="<%= meetingLeader[i].id %>" data-role="<%= meetingLeader[i].role %>" data-name="<%= meetingLeader[i].name %>">
							<p class="flag" data-id="<%= meetingLeader[i].id %>"><span class="icon-flag"></span><%= meetingLeader[i].name %><b class="loading"></b></p>
							<div class="meeting-info"></div>
						</li>

			<% 	} } %>

			</ul>
		</section>
		<section class="meeting-list meeting-user">
			<h4 class="title"><span class="icon-cool"></span>作为被邀者</h4>
			<ul class="list">
			<%	var lenUser = meetingUser.length;
				if ( lenUser > 0 ) {

					for ( var i=lenUser; i--; ) { %>
						<li class="item" data-id="<%= meetingUser[i].id %>" data-role="<%= meetingUser[i].role %>" data-name="<%= meetingUser[i].name %>">
							<p class="flag" data-id="<%= meetingUser[i].id %>"><span class="icon-flag"></span><%= meetingUser[i].name %><b class="loading"></b></p>
							<div class="meeting-info"></div>
						</li>

			<% 	} } %>
			</ul>
		</section>
	</section>
</section>
<script id="meeting-info-template" type="text/template">
	<section class="info-meta">
		<ul class="meta-list">
			<li class="item item-name" data-id="${meetingid}" data-key="name">
				<p class="key"><span class="icon-stats"></span>会议名称</p>
				<p class="value">${name}</p>
			</li>	
			<li class="item item-address" data-id="${meetingid}" data-key="address">
				<p class="key"><span class="icon-office"></span>会议地点<a href="#update" class="update">修改</a></p>
				<p class="value">${address}</p>
			</li>	
			<li class="item item-date-begin" data-id="${meetingid}" data-key="date_b">
				<p class="key"><span class="icon-calendar"></span>会议开始时间<a href="#update" class="update-date">修改</a></p>
				<p class="value">${date_b}</p>
			</li>
			<li class="item item-date-end" data-id="${meetingid}" data-key="date_e">
				<p class="key"><span class="icon-calendar"></span>会议结束时间<a href="#update" class="update-date">修改</a></p>
				<p class="value">${date_e}</p>
			</li>	
			<li class="item item-info" data-id="${meetingid}" data-key="info">
				<p class="key"><span class="icon-file-3"></span>会议概要<a href="#update" class="update">修改</a></p>
				<p class="value">${info}</p>
			</li>	
		</ul>
		<p class="exit-meeting"><span class="icon-exit"></span>退出会议</p>
	</section>	
	<section class="info-user">
		<div class="list-wrap">
			<h3 class="title"><span class="icon-point-right"></span>申请人
				<span data-role="leaders" data-id="${meetingid}" data-name="${name}" title="添加申请人" class="add icon-plus"></span>
			</h3>
			<ul class="user-list role-leader">
			{{if leaders.length > 0 }}
				{{each leaders}}
				<li class="item">
					<p class="value"><span class="icon-user-4"></span>${$value.name}</p>
					<p class="value"><span class="icon-mail"></span>${$value.email}</p>
					<span data-email="${$value.email}" class="remove icon-cancel-circle" title="删除用户"></span>
				</li>
				{{/each}}
			{{else}}
				<li class="no-item">还没有人呢</li>
			{{/if}}
			</ul>
		</div>
		<div class="list-wrap">
			<h3 class="title"><span class="icon-point-right"></span>参与者
				<span data-role="users" data-id="${meetingid}" data-name="${name}" title="添加参与者" class="add icon-plus"></span>
			</h3>
			<ul class="user-list role-user">
			{{if users.length > 0 }}
				{{each users}}
				<li class="item">
					<p class="value"><span class="icon-user-4"></span>${$value.name}</p>
					<p class="value"><span class="icon-mail"></span>${$value.email}</p>
					<span data-email="${$value.email}" class="remove icon-cancel-circle" title="删除用户"></span>
				</li>
				{{/each}}
			{{else}}
				<li class="no-item">还没有人呢</li>
			{{/if}}
			</ul>
		</div>
	</section>	
</script>
<script id="add-user-template" type="text/template">
	<section id="add-user-box">
		<h3 class="title">添加用户</h3>
		<span class="close icon-close"></span>
		<section class="box-title">
			<input class="search-input" type="text" name="username">
			<span class="icon-search search"></span>
		</section>
		<section class="box-content">
		</section>
	</section>
</script>
<script id="add-user-item-template" type="text/template">
	<ul class="user-list">
	{{each data}}
		<li class="item">
			<p class="value"><span class="icon-user-4"></span>${$value.name}</p>
			<p class="value"><span class="icon-mail"></span>${$value.email}</p>
			<span class="add icon-plus" title="添加用户" data-email="${$value.email}" data-username="${$value.name}"></span>
		</li>
	{{/each}}
	</ul>
</script>